* {
    margin: 0%;
    padding: 0;
}

body {
    width: 100%;
    box-sizing: border-box;
    background-color: bisque;
}

#container {
    width: 70%;
    margin: 1rem;
    margin: 2rem auto;
}

#display {
    height: 80px;
    background-color: black;
    color: white;
    font-size: 4rem;
    overflow: auto;
}

#buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px black solid;
}

.operator {
    background-color: orange;
}

#buttons div {
    display: flex;
    justify-content: space-between;
}

button {
    font-size: 1,5rem;
    width: 25%;
    padding: 1rem;
    border: none;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.green {
    background-color: green;
}

.clear {
    background-color: red;
    border-right: 1px black solid;
}

button:hover {
    background-color: blue;
    border-radius: 5px;
}