body {
    background-color: #8d99ae;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

button {
    color: #adb5bd;
    background-color: #343a40;
    border-radius: 20%;
}

img {
    width: 500px;
}

h1 {
    text-align: center;
}

.rose {
    width: 300px;
}

.win-h1 {
    color: #bf4211;
}

p {
    font-weight: 400;
}